
h1{
  text-align: center;
  font-family: sans-serif;
}

p{
  color: rgb(54, 54, 54);
  font-family: sans-serif;
  text-align: center;
}
#dogs-card-cell div {
  justify-content: space-around;
  padding-left: 20px;
}
#info-dog{

  display: flex;
  justify-content: center;
  align-content: center;
}
#info-dog div{
  align-items: center;
  padding-left: 10em;
  padding-top: 5em;
}

#french-cell{
  padding-left: 10%;
  padding-right: 10%;
 display: flex;
 justify-content: center;
 align-content: center;
}
#german-cell{
  display: flex;
  justify-content: center;
  align-content: center;
 }
#golden-cell{
  display: flex;
  justify-content: center;
  align-content: center;
 }
#labrador-cell{
  display: flex;
  justify-content: center;
  align-content: center;
 }
#poodle-cell{
  display: flex;
  justify-content: center;
  align-content: center;
 }

#french-cell img{
  height: 40em;
  width: auto;
 }
#german-cell img{
  height: 50em;
  width: auto;
 }
#golden-cell img{
 height: 40em;
  width: auto;
 }
#labrador-cell img{
  height: 40em;
  width: auto;
 }

#poodle-cell img{
  height: 40em;
  width: auto;
 }
